$navbar-background-color: #f0f2f0;
$nav-link-color: #000;
$nav-link-bordercolor: #b8b8b8;
$button-background-color: #4b5462;

$searchbar-backgorund-color: #172573;

$section-cards-background-color: #d6d7d6;
$cards-background-color: #4b5462;
$cards-color: #fff