@use '../abstracts/variables';

/* ------------------------------------------------- */
/* HEADER                                            */
/* ------------------------------------------------- */

.main-header {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 1024px) {
        & { /* .main-header */
            flex-direction: column;
        }
    }
}

#menu {
    display: none;

    &:checked + .nav-bar {
        display: block;
    }

    &:checked ~ .search-bar .menu-toogle__label {
        background-color: yellow;
    }
}

/* ------------------------------------------------- */
/* NAVBAR                                            */
/* ------------------------------------------------- */

.nav-bar {
    background-color: variables.$navbar-background-color;
    display: none;

    &__nav-list { /* .nav-bar__nav-list */
        display: flex;
        list-style-type: none;
        flex-direction: column;

        @media (min-width: 1024px) {
            & {
                flex-direction: row;
                justify-content: center;
                gap: 1em;;
            }
        }
    }

    &__nav-item {
        text-align: left;
    }

    &__nav-link {
        display: block;
        color: variables.$nav-link-color;
        padding: 1em;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        border-bottom: solid 1px variables.$nav-link-bordercolor;

        @media (min-width: 1024px) {
            & {
                border: none;
                letter-spacing: normal;
                padding: 1em 2em;
            }
        }
    }

    @media (min-width: 1024px) {
        & {
            display: block;
        }
    }
}


/* ------------------------------------------------- */
/* SEARCH BAR                                        */
/* ------------------------------------------------- */

.search-bar {
    background-color: variables.$searchbar-backgorund-color;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: 1024px) {
        & {
            flex-wrap: nowrap;
        }
    }

    &__logo-container {
        background-image: url('/img/logo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        order: 1;
        padding: 1.5em;

        @media (min-width: 1024px) {
            & {
                background-image: url('/img/logo-2.png');
                padding: 0 4em;
            }
        }
    }

    &__form-container {
        display: flex;
        flex-basis: 100%; /* width: 100% */
        justify-content: center;
        order: 4;
        padding: .6em;

        @media (min-width: 1024px) {
            & {
                order: 2;
                flex-basis: 30%;
                padding: 1em;
            }
        }
    }

    &__form-label {
        border-radius: 10px 0px 0px 10px;
        background-color: variables.$navbar-background-color;
        padding: .3em;
        font-weight: 700;
        color: #8a8a8a;
    }

    &__form-search {
        background-color: variables.$navbar-background-color;
        padding: .4em;
        outline: none;
        border: none;
        width: 70%;
        color: #8a8a8a;
    }

    &__form-submit {
        background-color: #8a8a8a;
        color: #fff;
        border: none;
        padding: .4em;
        border-radius: 0px 10px 10px 0px;
        font-weight: 700;
        font-family: 'Dosis', sans-serif;
    }

    &__carrito-container {
        align-items: center;
        display: inline-flex;
        font-size: 1.4em;
        order: 2;

        @media (min-width: 1024px) {
            & {
                padding: 0 1em;
                order: 3;
            }
        }
    }
}


/* ------------------------------------------------- */
/* MENÚ TOOGLE                                       */
/* ------------------------------------------------- */

.menu-toogle {
    display: none;
    background-color: red;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;
    order: 3;

    &__label {
        display: block;
        background-color: black;
        height: 100%;
    }

    &__top-bread,
    &__meat,
    &__bottom-bread {
        display: block;
        background-color: #333;
        height: .2em;
        position: absolute;
        left: .5em;
        right: .5em;
    }

    &__top-bread {
        top: .8em;
    }
    &__meat {
        top: 50%;
        margin-top: -.1em;
    }
    &__bottom-bread {
        bottom: .8em;
    }

    @media (max-width: 768px) {
        & {
            display: block;
        }
    }
}