<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/333893fa92.js" crossorigin="anonymous"></script>
  <title>Proyecto integrador - NOSOTROS</title>
</head>

<body>

  <header class="main-header">
    <input type="checkbox" id="menu">

    <nav class="nav-bar"> <!-- nav-bar -->
      <ul class="nav-bar__nav-list">
        <li class="nav-bar__nav-item">
          <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="#" class="nav-bar__nav-link">Alta</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="/views/contacto.html" class="nav-bar__nav-link">Contacto</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="/views/nosotros.html" class="nav-bar__nav-link">Nosotros</a>
        </li>
      </ul>
    </nav> <!-- nav-bar -->

    <div class="search-bar"> <!-- search-bar -->
      <div class="search-bar__logo-container"></div>
      <form action="#" class="search-bar__form-container">
        <label for="busqueda" class="search-bar__form-label">Buscar</label>
        <input type="search" class="search-bar__form-search" id="busqueda">
        <input type="submit" class="search-bar__form-submit" value="Buscar">
      </form>
      <div class="search-bar__carrito-container"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></div>
      <div class="menu-toogle">
        <label for="menu" class="menu-toogle__label">
          <span class="menu-toogle__top-bread"></span>
          <span class="menu-toogle__meat"></span>
          <span class="menu-toogle__bottom-bread"></span>
        </label>
      </div>
    </div>

  </header>

  <main>
    <div class="nosotros-header">
      <div class="nosotros-header__img">
        <img src="/img/nosotros.jpg" alt="Comunidad">
      </div>
      <h2 class="nosotros-header__title">Jacaranda, tu destino definitivo para la moda unisex con estilo y actitud.</h2>
    </div>

    <section class="nosotros-section">
      <p class="nosotros-section__text">Desde nuestra fundación, nos hemos comprometido a ofrecer una experiencia de compra única que trasciende los límites tradicionales de género en la moda.</p>
      <p class="nosotros-section__text">En Jacaranda, creemos en la expresión individual y la autenticidad. Nuestra pasión por la moda sin género nació de la idea de que la ropa no debería estar restringida por convenciones preestablecidas. Nos esforzamos por romper barreras y desafiar las normas de género, brindándote una selección diversa de prendas y accesorios que te permiten expresar tu estilo personal sin restricciones.</p>
      <p class="nosotros-section__text">Nuestro equipo está compuesto por apasionados diseñadores y amantes de la moda que están constantemente explorando las últimas tendencias y estilos. Nos enorgullece ofrecer una amplia gama de opciones, desde prendas clásicas y atemporales hasta piezas vanguardistas y audaces. Cada artículo en nuestra tienda ha sido cuidadosamente seleccionado para garantizar la máxima calidad y estilo.</p>
      <p class="nosotros-section__text">Además de nuestra dedicación a la moda, también nos comprometemos con la sostenibilidad y la responsabilidad social. Trabajamos con proveedores y fabricantes que comparten nuestros valores y están comprometidos con prácticas éticas y respetuosas con el medio ambiente.</p>
      <p class="nosotros-section__text">En Jacaranda, no solo estamos aquí para venderte ropa, sino también para inspirarte a ser tú mismo(a) sin restricciones. Te invitamos a explorar nuestra colección y descubrir el poder de la moda sin género. Únete a nosotros en esta emocionante aventura y ayúdanos a redefinir la forma en que experimentamos la moda.</p>
      <p class="nosotros-section__text">Gracias por ser parte de nuestra comunidad.</p>

      <div class="nosotros-section__valores-container">
        <h2 class="nosotros-section__title">Nuestros Valores</h2>
        <h3 class="nosotros-section__valores">Diversidad</h3>
        <h3 class="nosotros-section__valores">Igualdad</h3>
        <h3 class="nosotros-section__valores">Ética</h3>
      </div>
      
    </section>
  </main>

  <footer class="main-footer">
    <div class="social-media">
      <h2 class="social-media__title">Seguínos</h2>
      <ul class="social-media__list">
        <li class="social-media__list-item">
          <a href="#" class="social-media__list-link"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
        </li>
        <li class="social-media__list-item">
          <a href="#" class="social-media__list-link"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
        </li>
        <li class="social-media__list-item">
          <a href="#" class="social-media__list-link"><i class="fa-brands fa-tiktok" style="color: #ffffff;"></i></a>
        </li>
        <li class="social-media__list-item">
          <a href="#" class="social-media__list-link"><i class="fa-brands fa-youtube" style="color: #ffffff;"></i></a>
        </li>
      </ul>
    </div>

    <div class="newsletter">
      <h2 class="newsletter__title">Newsletter</h2>
      <form action="#" class="newsletter__form-container">
        <input type="email" class="newsletter__form-email" id="newsletter" placeholder=" ">
        <label for="newsletter" class="newsletter__form-label">Correo Electrónico</label>
        <button type="submit" class="newsletter__form-button"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></button>
      </form>
    </div>

    <div class="policy">
      <h2 class="policy__title">Políticas</h2>
      <ul class="policy__nav-list">
        <li class="policy__list-item">
          <a href="#" class="policy__list-link">Cómo comprar</a>
        </li>
        <li class="policy__list-item">
          <a href="#" class="policy__list-link">Formas de envío</a>
        </li>
        <li class="policy__list-item">
          <a href="#" class="policy__list-link">Formas de pago</a>
        </li>
        <li class="policy__list-item">
          <a href="#" class="policy__list-link">Cambios y devoluciones</a>
        </li>
      </ul>
    </div>

    <p class="main-footer__derechos">© 2023 Todos los derechos reservados</p>
  </footer>
  
  <script type="module" src="/main.js"></script>
</body>

</html>